p {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */

    font-family: "Noto Nastaliq Urdu", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

h1 {
    text-transform: lowercase;
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}